{% extends 'base.html' %}
{% block content %}
  <h1>Game</h1>
  <form onsubmit="sendMessage(event)">
    <input id="messageText" type="text" autocomplete="off" />
    <button>Send</button>
  </form>
  <ul id="messages"></ul>

  <script>
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    const token = getCookie("access_token");
    console.log("Token:", token);

    const ws = new WebSocket(`ws://127.0.0.1:8000/game/ws/{{ room_id }}?mode={{ mode }}&token=${token}`);

    ws.onopen = () => console.log("✅ Connected to server");
    ws.onerror = err => console.log("❌ Error:", err);
    ws.onclose = () => console.log("🔒 Connection closed");

    ws.onmessage = event => {
      const messages = document.getElementById("messages");
      messages.innerHTML = '';
      const li = document.createElement("li");
      li.textContent = event.data;
      messages.appendChild(li);
    };

    function sendMessage(event) {
      const input = document.getElementById("messageText");
      if (ws.readyState === WebSocket.OPEN) {
        ws.send(input.value);
      } else {
        alert("WebSocket не підключений!");
      }
      input.value = '';
      event.preventDefault();
    }
  </script>
{% endblock %}